# 0. Import các thư viện cần thiết

In [1]:
import pandas as pd

# 1. Đọc dữ liệu từ file CSV

In [2]:
csv_df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31021019/FoodPrice_in_Turkey.csv")
csv_df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

# 2. Ghi dữ liệu từ DataFrame vào file CSV

In [3]:
csv_df.to_csv("demo_FoodPrice.csv")

# 3. Ghi dữ liệu từ DataFrame vào file Excel

In [4]:
csv_df.to_excel("demo_FoodPrice.xlsx")

# 4. Ghi dữ liệu vào file Json

In [5]:
csv_df.to_json("demo_FoodPrice.json", orient = "columns")

# 5. Ghi dữ liệu vào file HDF5

In [6]:
csv_df.to_hdf("demo_FoodPrice.h5", "table")

# 6. Ghi dữ liệu vào file HTML

In [7]:
csv_df.to_html("demo_FoodPrice.html")